# =====================
# macOS
# =====================
.DS_Store

# =====================
# VS Code
# =====================
.vscode/
.idea/

# =====================
# Go
# =====================
# バイナリやビルド成果物
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
coverage.*
*.coverprofile
profile.cov

# ワークスペースファイル
go.work
go.work.sum

# データベースファイル
*.db

# 環境変数ファイル
.env
